.navbar
{
    height: 100vh;
    background-color: var(--main_black_color);
    box-shadow: 2px 2px 10px var(--black_dark_color);
    font-weight: 500;
}

.navLinksContainerDesktop
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    flex-direction: column;
}
.navLinks li
{
     border-bottom: 1px solid var(--light_gray);
    padding: 1.25rem 1.85rem;
}

.navLinks a{
    font-size: var(--main_fontsize);
    padding: 0.55rem 1.5rem;
    display: flex; 


}
.navLinks a.active
{
    background: white;
    color: var(--main_black_color);
    border-radius: 0.5rem;
}
.navLinks a.active .navIcon
{
    color: var(--main_black_color);
}
.navIcon
{
    color: var(--light_orage);
    /* border: 1px solid white; */
    margin-right: 1rem;
    font-size: 1.5rem;

}

.navProfileDiv 
{
    padding: 0.5rem 0.25rem;
    box-shadow: 0px -2px 10px var(--black_dark_color);
    border-radius: 0.85rem 0.85rem 0 0;
}

.navProfileDiv a
{
    display: flex;
    align-items: center;
    font-size: var(--main_fontsize);
    padding: 0.55rem 1.5rem;
    display: flex; 
    /* border: 2px solid white; */
    
}
.profileImage
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    margin-right: auto;
}