@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fon-family */
  font-family:'Montserrat', sans-serif;
  
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root
{
  /* color codes */
  --main_black_color:#1D1D1D;
  --medium_white_color:#FFFFFF;
  --success_green:#78FF75;
  --danger_red: #FF7C7C;
  --black_dark_color:#0b0b0b;
  --light_gray:#3d3d3d ;
  --light_orage:#ffa641;
  --light_light_orage:#ffbc6f;
  /* font-sizes-mobile */
  --mini_fontsize:0.96rem;
  --medium_fontsize:1rem;
  --main_fontsize: 1.3rem;
  --bigger_fontsize: 1.6rem;
}

body
{
  background-color: var(--main_black_color);
  color: var(--medium_white_color);
  height: 100vh;
  /* border: 2px solid white; */
}

a
{
  text-decoration: none;
  color: var(--medium_white_color);
}


::-webkit-scrollbar
{
  width: 10px;
}
::-webkit-scrollbar-track
{
  background: white;
}
::-webkit-slider-thumb
{
  background: var(--main_black_color);
}

.appjs
{
  display: flex;
  height: 100vh;
}
.page
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    padding: 2rem 0;
}
.clickButton
{
    font-size: var(--main_fontsize);
    font-weight: 600;
    color: var(--main_black_color);
    background: var(--medium_white_color);
    padding: 0.85rem 1.95rem;
    height: fit-content;
    border-radius: 0.5rem;
}

.inputButton, input
{
   font-size: var(--main_fontsize);
    font-weight: 400;
    color: var(--main_black_color);
    background: var(--medium_white_color);
    padding: 0.85rem 1.95rem;
    height: fit-content;
    border-radius: 0.25rem;
    margin: 0.25rem 0;
    outline: none;
    border: none;
}

input::placeholder
{
  font-size: var(--mini_fontsize);
  text-transform: uppercase;
}