@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fon-family */
  font-family:'Montserrat', sans-serif;;
  
}

:root
{
  /* color codes */
  --main_black_color:#1D1D1D;
  --medium_white_color:#FFFFFF;
  --success_green:#78FF75;
  --danger_red: #FF7C7C;
  --gray_color:#484848;
  --light_gray:#7A7A7A ;
  --light_orage:#FFD09B;
  /* font-sizes-mobile */
  --mini_fontsize:0.526rem;
  --medium_fontsize:1rem;
  --main_fontsize: 1.25rem;
  --bigger_fontsize: 1.6rem;

}